h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
}
#apps {
    background-color: lawngreen;
}
#games {
    background-color: rgb(183, 153, 212);
}
#chatbot {
    background-color: rgb(194, 59, 149);
}
.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}